{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "IE 11"]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ],
  "env": {
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": 6
          }
        }]
      ]
    }
  }
}
